
/* shared section */
.primary {
  color: #FF5400;
}

.banner {
  border: 2px solid aqua;
  background-image: url('../images/Group 13 (1) (1).png');
  text-align: center;
  margin: 30px auto;
  border-radius: 16px;
  width: 1180px;
  height: 500px;
}

section {
  justify-content: center;
}

.banner-title {
  color: white;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin: 0 auto;
}

.banner-description {
  color: white;
  padding: 20px;
}

.title {
  display: flex;
  margin-left:0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
}

nav>ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}

#button {
  background-color: #FF5400;
  padding: 10px;
  color: white;
}

#where {
  background-color: white;
  padding: 10px;
}

#select-type {
  background: white;
  padding: 10px;
}

input {
  background-color: white;
  padding: 10px;
}

.our-tour {
  display: flex;
  /* width: 90% */
  justify-content: center;
}

.our-tour img {
  width: 500px;
  height: 300px;
  margin: 30px;
}

.tour-title {
  /* display: flex; */
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.destination {
  /* text-align: center; */
  /* margin: 20px; */
  /* justify-content: center; */
}

.img-gelary {
  /* justify-content: center; */
  /* margin: 50px; */
}

.img-galary {
  justify-content: center;
  /* margin-left: 50px; */
  /* padding-left: 50px; */
  text-align: center;
}

.first {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.first-title {
  position: absolute;
  position: center;
  left: 180px;
  top: 160px;
  color: white;

}

.second {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.third {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.choose {
  text-align: center;
  margin: 30px;
  /* width: 140px; */
  justify-content: center;
}

.hotel-map {
  display: flex;
  justify-content: center;
  margin: 10px 40px;
  padding-left: 50px;
}

.hotel {
  border: 2px solid antiquewhite;
  width: 600px;
  height: 250px;
  background-color: antiquewhite;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
}

.map {
  border: 2px solid #29CEF633;
  width: 600px;
  height: 250px;
  background-color: #29CEF633;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
}

.Price {
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  justify-content: center;
  width: 500px;
  height: 250px;
  border-radius: 16px;
  padding: 16px;
  margin: 0 auto;


}

.Deals {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.sleep-chair {
  display: flex;
  position: relative;
  margin: 0 auto;
  border-radius: 16px;
  justify-content: center;
}

.sleep-chair-title {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 500px;
  bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
}

.final {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin:50px 140px;
  /* margin-left: 30px; */
  padding: 30px;
}

.final-colum {
  border: 2px solid #FF5400;
  border-radius: 16px;
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 30px;
  background-color: white;
}
.final-img img{
  width:500px;
  height: 400px;
}


.final-img {
  position: relative;
  border: 1px solid grey;
  border-radius: 16px;
  width: 200px;
  height: 150px;
  margin-right: 50px;}

.save-img {
  position: absolute;
  background-color: #FF5400;
  color: white;
  position: absolute;
  top: 200px;
  left: 150px;
  width: 300px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  transform: rotate(-20deg);

}

.button {
  background-color: #FF5400;
  padding: 15px 70px;
  color: white;
  border-radius: 8px;
}
footer{
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  background-color: beige;
  border-radius: 20px;
  text-align: center;
}
.footer-title{
  display: flex;
  justify-content:center;
  margin-top: 40px;
  margin-bottom: 60px;
}
hr{
  width:800px;
  margin:0 auto;
}
.icon{
  margin: 50px;
  gap:20px
  }
  .icon p{
  gap: 50px;
  margin-top: 100px;
  }


@media screen and (max-width:600px) {
  .banner
  {
    flex-direction: column;
    padding: 5px;
    width: 400px;
    height: 450px;
  }
  .our-tour{
    flex-direction: column;
  }
  .our-tour img{
    width: 400px;
    margin: 5px;
  }
  .img-galary{
    flex-direction: column;
  }
  .first,  .second, .third, .hotel-map{
    flex-direction: column;
  }
  .hotel-map{
    margin: none;
    margin-left: none;
    padding-left:none;
    padding: none;
  }
  .hotel, .map, .Price{
    width: 400px;
    margin: none;
    padding: none;
  }
  .sleep-chair{
    flex-direction: column;
    /* height: 400px; */
    height: 500px;
    margin-bottom: 250px;
  }
  .sleep-chair-title{
    width: 200px;
    height: 400px;
    position: absolute;
  left: 150px;
  bottom: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 16px;
  border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
text-align: center;
  }
  .final {
    flex-direction: column;
    margin: none;
    padding: none;
    gap: none;
    margin-left: none;
  }
  .final-colum{
    width: 400px;
    padding: none;
    margin-left: none;
  }
  .final-img{
    width:200px;
    height: 150px;
    margin-right: none;
    margin-left: none;
    padding: none;
    margin-bottom: 250px;
  }
  footer{
    width: 500px;
    height: 500px;
  }
  hr{
    width:300px;
  }

}